Thumbs.db
.DS_Store
.gradle
build
bin
.classpath
.project
.settings
exploration
*.iml
*.ipr
*.iws
/spring-social-config/target
/spring-social-core/target
/spring-social-security/target
/spring-social-web/target
